.footer {
    height: 4em;
    background-color:#000000bf;
    color: white;
    
    .item {
        line-height: 4em;

        .nav-link {
            color: #ff6400;
            line-height: 3em;   
        }
    }
}