.insurance-detail {
    
    .plan-card {

        .card-header {
            cursor: pointer;
        }
        
        .select-plan-btn {
            margin-top: 2em;
        }

        .plan-selected {
            font-weight: bold;
        }
    }
}

.modal-open {
    .modal-body {
        span {
            font-weight: bold;
            font-size: 1.4em;
            color: cornflowerblue;
        }
    }
    
    .modal-content {
        margin-bottom: 15em;
    }
}