.user-detail {

    .user-detail-wrapper{
        display: inline-block;

        .detail-list {
            display: grid;
            grid-template-columns: 60px 200px 200px;
            text-align: left;
            font-size: 1.2em;

            .label {
                font-weight: bold;
            }
            
            .icon {
                text-align: center;
            }
        }
    }
            
    .select-plans-link {
        display: block;

        button  {
            margin-top: 2em;
            font-size: 1.8em;
            width: 10em;
            height: 2em;
        }
    }

}