.app {
    .content {
        margin: auto;
        height: calc(100vh - 8em);
        padding-top: 5em;
        background-image: url('../images/expat-insurance.jpg');
        color: #495057;

        .section {

            width: 80%;
            margin: auto;

            .page-title {
                font-size: 4em;
                margin-bottom: 1em;
            }
    
            .page-description {
                margin-bottom: 2em;
                font-size: 1.2em;
            }
        }
    }
}